/* GLOBAL */

body {
    /* font-family:Arial, Helvetica, sans-serif; */
    background-color: #ECF0F3;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
}
a {
    color: white;
}
a:hover {
    color: white;
}
.mt10 {
    margin-top: 100px;
}

/* HERO SECTION | JUMBOTRON */
.bg-img {
    background-image: url("/img/supermarket-paper-bag-full-healthy-food.png");
    background-repeat: no-repeat;
    background: cover;
    background-position: center;
    margin: 10px 0px;
}
.hero-content {
    padding-top:300px;
    padding-bottom: 100px;
}
.hero-content__subTitle {
    color: #9fcb22;
    font-size: 1.25rem;
}
.hero-content__title {
    font-size: 4rem;
    margin-bottom: 1rem;
}
.hero-content__des {
    font-size: 1.25rem;
}
.btn-outline-light {
    border: none;
    background-color: #9fcb22;
}
.btn-outline-light:hover {
    background-color: #9fcb22;
    color: white;
}
.btn__color {
    background-color: #14462e;
}

/* FEATURE SECTION */

.feature-card {
    background-repeat: no-repeat;
    background-position: right bottom;
    width: 360px;
    height: 284px;
    color: white;
    padding-top: 40px;
    padding-left: 20px;
    text-decoration: none;
}  
.feature-card__bg1{
    background-color: #90ddd8;
    background-image: url(/img/layer.png);
}
.feature-card__bg2 {
    background-color: #f9911e;
    background-image: url(/img/layer2.png);
}
.feature-card__bg3 {
    background-color: #aedf23;
    background-image: url(/img/layer3.png);
}
.feature-card__btn {
    padding-top: 30px;
}

/* PRODUCTS SECTION */

.products-card {
    width: 350px;
    height: 481px;
    background-color: #f6fafb;
    margin-bottom: 30px;
}
.products-card__hot {
    background-color: #d9485b;
    padding: 8px 0px;
}
.products-card__heart > a {
    background-color: white;
    border-radius: 50%;
    /* margin: 10px; */
    display: inline-block;
}
.products-card__heart > a > i {
    color: grey;
    display: table-cell;
    vertical-align: middle; 
    text-align: center; 
    height: 40px;
    width: 40px; 
}

.products-card__img {
    width:70%;
    height:auto;
    margin-left: 40px;
}
.products-card__noHot {
    background-color:#f6fafb;
    padding: 8px 0px;
    color: #f6fafb;
}
.icon-background {
    display: block;
    background: #9fcb22;
    border-radius: 50%;
    color: white; 
    text-align: center;
    width: 30px;
    height: 30px;    
}

/* BANNER SECTION */

.brand-content {
    color: white;
    margin-top: 50px;
    margin-left: 50px;    
}
.brand-content h1 {
    font-size: 2.75rem;
    line-height: 1.5;  
}
.brand-content div a {
    font-size: 1.25rem;
    line-height: 1.75;  
}

/* ABOUT US SECTION */

.bg-img2 {
    background-image: url("/img/flat-lay-with-paper-bag-vegetables-fruits-white.png");
    background-repeat: no-repeat;
    background: cover;
    background-position: left;
    margin: 10px 0px;
}

.aboutUS-content {
    padding-top:100px;
    padding-bottom: 100px;
    background-color: white;
    padding-left: 50px
}
.aboutUS-content__subTitle {
    color: #9fcb22;
    font-size: 1.25rem;
}
.aboutUS-content__title {
    font-size: 2.75rem;
}
.aboutUS-content__des {
    line-height: 1.75rem;
}
.border-top {
    border: #9fcb22;
}

/* FEATURE2 SECTION */
.feature2 {
    margin-bottom: 200px;
}

.feature2-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feature2-content > div > img {
    width: 5.625rem;
    height: 6.25rem;
}

.feature2-content__bottom {
    margin-top: 20px;
}


/* FEATURES PRODUCTS SECTION */

.features-products__list {
    display: flex;
    justify-content: center;
}
.features-products__list > ul > li {
    font-size: 1.5rem;
    margin: 30px 30px;
    font-weight: light-bold;
    cursor: pointer;
}

/* TESTIMONIALS SECTION */
.testimonials {
    margin: 100px 0px;
}
.testimonials-card {
    background-image: white;
    margin-top: 50px;
    padding-top: 50px;
    padding-left: 30px;
}  
.testimonials-card img {
    padding-bottom: 30px;
}
.testimonials-card .card-img-top {
    padding-top: 30px;
}
.testimonials-card h3 span {
    color:#9fcb22;
    font-size: 1rem;
}