
body {
    font-family: 'Barlow', sans-serif;
}

.container {
    width: 1024px;
    height: 100%;
    margin: 0 auto;
    background-color: pink;
}

.jumbotron {
    /* background-color: rgba(255, 0, 0, 0); */
    background-image: url(/img/supermarket-paper-bag-full-healthy-food.png);
    
}

.jumbotron h1 {
    font-family: 'Jost', sans-serif;
    font-size: 3rem;
    margin: 20px 0px;
}

.jumbotron h5 {
    font-family: 'Barlow', sans-serif;
    color: #9fcb22;
    font-size: 1.25rem;
}

.jumbotron p {
    margin-bottom: 20px;
    line-height: 1.5;
}

.btn {
    font-family: 'Jost', sans-serif;
    font-size: 1rem;
}

.btn-outline-light {
    border: none;
    background-color: #9fcb22;
}
.btn-outline-light:hover {
    background-color: #9fcb22;
    color: white;
}
.btn__color {
    background-color: #14462e;
}

.card {
    background-repeat: no-repeat;
    background-position: right bottom;
    margin: 0;
    color: white;
    font-size: 1rem;
    border: none;
}
.feature1 {
    background-image: url(/img/layer.png);
    background-color: #91ddd8;
}
.feature2 {
    background-color: #f9911e;
    background-image: url(/img/layer2.png);
}
.feature3 {
    background-color: #aedf23;
    background-image: url(/img/layer3.png);
    padding-top: 20px;
}

.my-card-title {
    font-size: 1.5rem;
    line-height: 1.5;
    word-spacing: 5px;
}

.my_btn_shopNow {
    padding-top:20px;
}
.my_btn_shopNow a {
    font-size: 1rem;
}

.text {
    margin-top: 50px;
}
.text p {
    font-size: 2rem;
    color: #9fcb22;
}
.text h1 {
    font-size: 3rem;
    margin: 10px 0px;
    font-weight: bold;
}

.text-hot {
    background-color: #d9485b;
    font-size: 1rem;
    padding: 8px 0px;
}
h3 {
    color: black;
    font-size: 1.5rem;
}
h4 {
    color: black;
    word-spacing: 10px;
    font-size: 1rem;
}
strong {
    color:#9fcb22;
    font-weight: bold;
}

.heart {
    margin-top: 20px;
    background-color: #9fcb22;
    height: 25px;
    width: 25px;
    border-radius: 50%;
  
}
.emptyBox {
    width: 251px;
    height: 150px;
    background-color: gray;
    margin-top: 30px;
    align-items: center;
    vertical-align: middle;
    justify-content:center;
}

.bg-dark {
    height: 180px;
    width: 100%;
    margin-bottom: 50ox;
    
}
